body
{
	background-repeat: no-repeat;
	position: absolute;
	margin: 0px;
}
.c1
{
	width: 1345px;
	height: 210px;
}
.c11
{
	height: 135px;
	padding-left: 140px;
	padding-right: 140px;
}
.c12
{
	height: 70px;
	padding-left: 400px;
	padding-right: 400px;
}
.userOff
{
	background-image:url(../media/useroff.png);
	width: 53px;
	height: 60px;
	background-repeat: no-repeat;
	float: left;
	background-size: contain;
	margin: 3px 0px;
	cursor: pointer;
}
.userOn
{
	background-image:url(../media/useron.png);
	width: 53px;
	height: 60px;
	background-repeat: no-repeat;
	float: left;
	background-size: contain;
	margin: 3px 0px;
	cursor: pointer;
}
.userHelp
{
	background-image:url(../media/userhelp.png);
	width: 53px;
	height: 60px;
	background-repeat: no-repeat;
	float: left;
	background-size: contain;
	margin: 3px 0px;
	cursor: pointer;
}
.userChoise
{
	background-image:url(../media/userchoise.png);
	width: 53px;
	height: 60px;
	background-repeat: no-repeat;
	float: left;
	background-size: contain;
	margin: 3px 0px;
	cursor: pointer;
}
.umale
{
	float:left;
	background-image:url(../media/male.png);
	width:35px;
	height:35px;
	background-size:contain;
	margin:20px 5px 0px 5px;
}
.numUser
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
	color:#fff;
	position: absolute;
	font-weight:bold;
	margin: 2px 10px 0px 15px;
}
.c2
{
	width: 1345px;
	height: 500px;
}

.c2l 
{
	height: 500px;
	width: 250px;
	float: left;
}

.c2r 
{
	height: 500px;
	width: 250px;
	float: left;
}

.c2r2 
{
	background-image: url("./../media/mc.png");
	height: 300px;
	width: 250px;
	background-repeat: no-repeat;
	background-size: 250px;
}

.c2r1 
{
	height: 200px;
	width: 250px;
	background-color: black
}

.c2c 
{
	height: 500px;
	width: 845px;
	background-color: #0080FF;
	float: left
}

.c2l2 
{
	background-image: url("./../media/player.png");
	height: 300px;
	width: 250px;
	background-repeat: no-repeat;
	background-size: 250px;
}

.c2l1 
{
	height: 200px;
	width: 250px;
	background-color: black
}

.help
{
	height: 60px;
	width: 85px;
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}
#help01
{
	background-image: url("./../media/help01.png");
} 
#help02
{
	background-image: url("./../media/help02.png");
} 
#help03
{
	background-image: url("./../media/help03.png");
} 
#help04
{
	background-image: url("./../media/help04.png");
} 
#help01:hover
{
	background-image: url("./../media/help01hover.png");
}

#help02:hover
{
	background-image: url("./../media/help02hover.png");
}

#help03:hover
{
	background-image: url("./../media/help03hover.png");
}

#help04:hover
{
	background-image: url("./../media/help04hover.png");
}
#help01used
{
	background-image: url("./../media/help01used.png");
}
#help02used
{
	background-image: url("./../media/help02used.png");
}
#help03used
{
	background-image: url("./../media/help03used.png");
}
#help04used
{
	background-image: url("./../media/help04used.png");
}
.c2l1title 
{
	color: white;
	width: 250px;
	font-size: large;
	background-color: #004080;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.c2l1content 
{
	padding-top: 20px
}

.c2c1 {
	height: 50px;
	text-align: center;
	color: White;
	width: 845px;
	background-color: #400000
}

.c2c2 {
	height: 110px;
	width: 845px
}

.c2c3 {
	height: 110px;
	width: 845px
}

.c2c4 {
	height: 100px;
	width: 845px;
	background-color: #400000;
	color: white;
}

.c2c5 {
	height: 130px;
	width: 845px;
	background-color: #004000
}

.ans
{
	font-size: 35px;
	color: #fff;
	position: absolute;
	text-align: center;
	font-weight: bold;
	margin-top: 15px;
	width: 45px;
	height: 60px;
}

.answer 
{
	height: 100px;
	color: White;
	width: 410px;
	border-style: outset;
	background-color: #804000;
	border-color: Cyan;
	float: left
}

.btn {
  background: #34b8d9;
  background-image: -webkit-linear-gradient(top, #34b8d9, #2980b9);
  background-image: -moz-linear-gradient(top, #34b8d9, #2980b9);
  background-image: -ms-linear-gradient(top, #34b8d9, #2980b9);
  background-image: -o-linear-gradient(top, #34b8d9, #2980b9);
  background-image: linear-gradient(to bottom, #34b8d9, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
.wrapper
{
		position:absolute;
		z-index:-1;
		top:0px;
		left:0px;
}