body {
	background-color: #e6e6e6;
	font-family: Arial;
	font-size: 15px;
	color: #666;
	margin: 0px;
	padding: 0px;
}

.wrapper {
	width: 1024px;
	height: 750px;
	margin: 0 auto;
	background: white;
	margin: 0 auto;
}

.container {
	min-height: 400px;
	border-top: 1px solid blue;
	padding: 30px;
}
input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid 
{
background-image: url(../media/inv.png);
background-position: right top;
background-repeat: no-repeat;
box-shadow: none;
}
input:required:valid, input:focus:valid, textarea:required:valid, textarea:focus:valid 
{
background-image: url(../media/val.png);
background-position: right top;
background-repeat: no-repeat;
box-shadow: none;
}
.flable {  
 color: gray;  
}  
  
.status {  
 font-family: verdana;  
 font-size: 12px;  
}  
  
.uname {  
 color: blue; }